body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .medal-table-wrapper {
    margin: 10px 0px 30px;
    color: grey
  }
  
  .medal-table {
    border-collapse: collapse;
    border: 1px solid grey;
    border-bottom: none;
    border-left: none;
    display: inline-block;
    padding: 10px;
    border-spacing: 0px;
  }
  
  .medal-table caption {
    text-align: left;
  }
  .medal-table td,
  .medal-table th {
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 8px 5px;
  }
  
  .medal-table tr {
    border-bottom: 1px solid gray;
  }
  
  
  /* table header */
  .total-th {
    font-weight: 400;
  }
  
  tr.header-tr {
    border-bottom-width: 3px;
  }
  .header-tr th {
    border-top: 3px solid transparent;
    cursor: pointer;
  }
  .header-tr th.active {
    border-top-color: gray;
  }
  
  /* specific collumns */
  td.code-td,
  td.total-td {
    font-weight: bold;
  }
  td.code-td {
    width: 90px;
    padding-left: 10px;
    text-align: left;
  }
  
  /* medal circles */
  .circle {
    height: 17px;
    width: 17px;
    background-color: #ffffff;
    border-radius: 50%;
    margin: auto;
  }
  
  .gold {
    background-color: #ffd700;
  }
  
  .silver {
    background-color: silver;
  }
  
  .bronze {
    background-color: #cd7f32;
  }
  
  /* flags */
  .flag {
    background-image: url('https://s3-us-west-2.amazonaws.com/reuters.medals-widget/flags.png');
    background-repeat: no-repeat;
    width: 28px;
    height: 17px;
  }
  
  .flag-AUT {
    background-position: 0 0px;
  }
  .flag-BLR {
    background-position: 0 -17px;
  }
  .flag-CAN {
    background-position: 0 -34px;
  }
  .flag-CHN {
    background-position: 0 -51px;
  }
  .flag-FRA {
    background-position: 0 -68px;
  }
  .flag-GER {
    background-position: 0 -85px;
  }
  .flag-ITA {
    background-position: 0 -102px;
  }
  .flag-NED {
    background-position: 0 -119px;
  }
  .flag-NOR {
    background-position: 0 -136px;
  }
  .flag-RUS {
    background-position: 0 -153px;
  }
  .flag-SUI {
    background-position: 0 -170px;
  }
  .flag-SWE {
    background-position: 0 -187px;
  }
  .flag-USA {
    background-position: 0 -204px;
  }